.mock-message {
    font-size: 12px;
    transition: .1s linear background-color;
    padding: 16px 8px;
}

.mock-message__user,
.mock-message__group {
    display: flex;
    align-items: center;
}

.mock-message__user img {
    border-radius: 50%;
    height: 26px;
    width: 26px;
    margin-right: 8px;
}

.mock-message__group img {
    border-radius: 2px;
    height: 50px;
    width: 50px;
    margin-right: 8px;
}

.mock-message__user--desc span {
    color: #535659;
}

.mock-message:not(:last-of-type) {
    border-bottom: 1px solid #3f4246;
}

.more-link {
    font-size: 12px;
    padding: 0 6px;
    margin-bottom: 1.0rem;
    display: inline-block;
    color: #737679;
}

h1 {
    margin: 0;
    font-weight: 200;
}

.content {
    text-align: justify;
}

.badge--donor {
    height: 12px;
    width: 12px;
    background: url('../img/donor.svg') no-repeat center center;
    display: block;
    background-size: contain;
    
}

/**Temporary above **/


* {
    box-sizing: border-box;
}

body {
    word-wrap: break-word;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    background: #2f3136;
    color: #b4b6b9;
    overflow-x: hidden;
    line-height: 1.5;
}

a {
    color: #cecece;
    text-decoration: none;
}

a:hover {
    color: #fafafa;
}

header {
    background: #292b2f;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.header__logo {
    flex: 0;
    padding: 0.5rem;
    margin-right: 6px;
}

.header__logo a {
    height: 38px;
    width: 130px;
    display: block;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0.6;
    transition: .1s linear opacity;
}

.header__logo a:hover {
    opacity: 1.0;
}

.header__fill {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.main {
    min-height: calc(100vh - 3.5rem);
    display: flex;
}



.sidebar-left__content {
    padding: 0;
    margin-top: 32px;
}

.sidebar-left__pad,
.sidebar-right__pad {
    padding: 0 12px;
}

.sidebar-left h4,
.sidebar-right h4 {
    padding: 0 12px;
    margin-bottom: 6px;
}

.sidebar-left h5,
.sidebar-right h5 {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.sidebar-left h5 a,
.sidebar-right h5 a {
    font-weight: 700;
}

.sidebar-left p,
.sidebar-right p {
    margin: 0;
    color: #646669;
}

.form-toggle-right-sidebar {
    max-width: 360px;
    line-height: 1.5;
    flex: 0 0 auto;
    background: #202225;
}

.sidebar-right__content {
    padding: 0 12px;
    margin-top: 32px;
}

.content {
    flex: 1 1 auto;
    margin-top: 32px;
    padding: 0 16px;
}


/*** Toggle right sidebar ***/
#toggle-right-sidebar {
    display: none;
}

#toggle-right-sidebar ~ aside {
    transform: translate(100%, 0);
    min-width: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    
}

#toggle-right-sidebar:checked ~ aside {
    display: block;
    transform: translate(0, 0);
    width: 100%;
    transition: .1s ease-in-out transform;
    visibility: visible;
    min-width: 360px;
}

/*** Unisearch Search ***/
.header__search {
    min-width: 300px;
    width: 300px;
    transition: .15s ease-in-out min-width;
}

.header__search:focus-within {
    min-width: 450px;
}

.header__search:focus-within .header__search-suggestions {
    display: block;
}

.faux-search {
    background: #36393f;
    border-radius: 6px;
    padding: 0;
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    cursor: text;
}
.faux-search:focus-within {
    background: #41444a;
    border-radius: 6px 6px 0 0;
}

.header__searchbar {
    background: transparent;
    color: #fff;
    padding: 0.25rem;
    padding: 6px 12px;
    border: 0;
    flex: 1 1 auto;
}


.header__search-suggestions {
    top: 100%;
    left: 0;
    z-index: 35;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
    position: absolute;
    overflow: hidden;
    display: none;
    background: #36393f;
    padding: 12px 6px;
}

/*** Nav ***/
header nav {
    padding: 0 12px;
    display: flex;
}

header nav a {
    padding: 12px 0;
    margin-right: 16px;
    text-decoration: none;
    color: #979a9d;
    transition: .1s linear color;
    font-weight: 600;
}

header nav a:hover {
    color: #fff;
}

/*** User Menu ***/
.header__user {
    position: relative;
}

.header__user .toggle-user-menu-button {
    height: 38px;
    width: 38px;
    border-radius: 100%;
    display: block;
    cursor: pointer;

    background-image: url('https://i.picsum.photos/id/1076/38/38.jpg?hmac=EwnbSWb1O6s_WNQDVZ39i98Tf1Z0C2n8VGNdZr7C1uI');
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .3);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.toggle-user-menu-button:hover {
    animation: wiggle-effect .5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 1.0;
    background-color: #36383b;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);
}

#toggle-user-menu {
    display: none;
}

.user-menu {
    position: absolute;
    top: 48px;
    right: 0;
    width: 250px;
    left: auto;
    display: none;
    background: #18191c;
    padding: 0.5rem;
    border: 1px solid #36393a;
    border-radius: 6px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1), 0 0 3px 0 rgba(0, 0, 0, .4);
    z-index: 256;
}

#toggle-user-menu:checked ~ .user-menu {
    display: block;
}

@keyframes wiggle-effect {

    0%,
    100% {
      transform: scale(1, 1)
    }
  
    25% {
      transform: scale(.93, 1.07)
    }
  
    50% {
      transform: scale(1.07, .93)
    }
  
    75% {
      transform: scale(.98, 1.02)
    }
  }

.user-menu__id {
    padding: 0.25rem 0.25rem 0.75rem;
    display: flex;
    align-items: center;
}

.user-menu__id--username {
    font-weight: 600;
    margin-right: 0.325rem;
    flex: 0;
    color: #43b581;
}

.user-menu__id--badges {
    font-weight: 600;
    margin-right: 0.5rem;
    flex: 1 1 auto;
}

.user-menu__id--class {
    color: #737679;
}

.user-menu__links {
    border-top: 1px solid #262729;
    padding: 0.25rem 0.25rem 0.25rem;
    margin: 0;
}

.user-menu__links li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.user-menu__links li a {
    display: block;
    padding: 0.325rem 0;
    color: #b9bbbe;
    font-weight: 600;
    font-size: 13px;
}

.user-menu__links li a:hover {
    color: #fff;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 2.0;
    border-top: 1px solid #262729;
    padding: 0.25rem 0.25rem 0;
    justify-content: space-between;
}

.stats div {
    flex: 0 0 50%;
    color: #535659;
}

.stats div span {
    color: #737679;
}

/*** Header Alerts ***/
.header__alerts {
    flex: 0;
    padding: 0.5rem;
}

.header__alerts .toggle-alerts-button {
    height: 20px;
    width: 20px;
    margin: 9px 9px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background-image: url('../img/alerts.svg');
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
    transition: .1s linear all;
}

.toggle-alerts-button:hover {
    height: 38px;
    width: 38px;
    margin: 0;
    animation: jiggle-effect .5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 1.0;
    background-color: #36383b;
}

@keyframes jiggle-effect {

0%,
100% {
  transform: rotate(0)
}

25% {
  transform: rotate(10deg)
}

50% {
  transform: rotate(-10deg)
}

75% {
  transform: rotate(10deg)
}
}



/*** Header User ***/
.header__user {
    flex: 0;
    padding: 0.5rem;
    margin-right: 6px;
}

