.header__alerts label,
.header__user a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
    line-height: 32px;
    text-align: center;
}

.mock-message {
    font-size: 12px;
    transition: .1s linear background-color;
    padding: 16px 8px;
}

.mock-message__user,
.mock-message__group {
    display: flex;
    align-items: center;
}

.mock-message__user img {
    border-radius: 50%;
    height: 26px;
    width: 26px;
    margin-right: 8px;
}

.mock-message__group img {
    border-radius: 2px;
    height: 50px;
    width: 50px;
    margin-right: 8px;
}

.mock-message__user--desc span {
    color: #535659;
}

.mock-message:not(:last-of-type) {
    border-bottom: 1px solid #3f4246;
}

.more-link {
    font-size: 12px;
    padding: 0 6px;
    margin-bottom: 1.0rem;
    display: inline-block;
    color: #737679;
}

h1 {
    margin: 0;
    font-weight: 200;
}

.content {
    text-align: justify;
}


/**Temporary above **/


* {
    box-sizing: border-box;
}

body {
    word-wrap: break-word;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    background: #2f3136;
    color: #b4b6b9;
    overflow-x: hidden;
    line-height: 1.5;
}

a {
    color: #cecece;
    text-decoration: none;
}

a:hover {
    color: #fafafa;
}

header {
    background: #292b2f;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.header__logo {
    flex: 0;
    padding: 0.5rem;
    margin-right: 6px;
}

.header__logo a {
    height: 38px;
    width: 38px;
    background: rgba(255, 255, 255, .1);
    border-radius: 50%;
    display: block;
}

.header__fill {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.main {
    min-height: calc(100vh - 3.5rem);
    display: flex;
}

.sidebar-left {
    width: 25%;
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    background: #202225;
    line-height: 1.5;
}

.sidebar-left__content {
    padding: 0;
    margin-top: 32px;
}

.sidebar-left__pad,
.sidebar-right__pad {
    padding: 0 12px;
}

.sidebar-left h4,
.sidebar-right h4 {
    padding: 0 12px;
    margin-bottom: 6px;
}

.sidebar-left h5,
.sidebar-right h5 {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.sidebar-left h5 a,
.sidebar-right h5 a {
    font-weight: 700;
}

.sidebar-left p,
.sidebar-right p {
    margin: 0;
    color: #646669;
}

.form-toggle-right-sidebar {
    max-width: 360px;
    line-height: 1.5;
    flex: 0 0 auto;
    background: #32353b;
}

.sidebar-right__content {
    padding: 0 12px;
    margin-top: 32px;
}

.content {
    flex: 1 1 auto;
    margin-top: 32px;
    padding: 0 16px;
}

/*** Userbar ***/
.sidebar-left__user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #303336;
    background: linear-gradient(to top, rgba(255, 255, 255, .01) 0, transparent 100%);
}

.sidebar-left__user--image {
    height: 38px;
    width: 38px;
    margin: 0.5rem;
    border-radius: 100%;
    flex: 0 0 auto;
    display: block;
    background-image: url('https://i.picsum.photos/id/1076/38/38.jpg?hmac=EwnbSWb1O6s_WNQDVZ39i98Tf1Z0C2n8VGNdZr7C1uI');
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .3);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sidebar-left__user--content {
    flex: 1 1 auto;
}

.sidebar-left__user--content a {
    font-weight: 600;
}

.sidebar-left__user--content span {
    display: block;
    color: #535659;
}

.sidebar-left__user--toggle {
    flex: 0 0 auto;
}

.sidebar-left__user--toggle label {
    height: 1.5rem;
    width: 1.5rem;
    background: rgba(255, 255, 255, .05);
    display: block;
    margin: 0.5rem;
    border-radius: 3px;
}


.sidebar-left__user form {
    flex: 1 1 100%;
}

/*** Toggle right sidebar ***/
#toggle-right-sidebar {
    display: none;
}

#toggle-right-sidebar ~ aside {
    transform: translate(100%, 0);
    min-width: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    
}

#toggle-right-sidebar:checked ~ aside {
    display: block;
    transform: translate(0, 0);
    width: 100%;
    transition: .1s ease-in-out transform;
    visibility: visible;
    min-width: 360px;
}

/*** Unisearch Search ***/
.header__search {
    min-width: 300px;
    width: 300px;
    transition: .15s ease-in-out min-width;
}

.header__search:focus-within {
    min-width: 450px;
}

.header__search:focus-within .header__search-suggestions {
    display: block;
}

.faux-search {
    background: #36393f;
    border-radius: 6px;
    padding: 0;
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    cursor: text;
}
.faux-search:focus-within {
    background: #41444a;
    border-radius: 6px 6px 0 0;
}

.header__searchbar {
    background: transparent;
    color: #fff;
    padding: 0.25rem;
    padding: 6px 12px;
    border: 0;
    flex: 1 1 auto;
}


.header__search-suggestions {
    top: 100%;
    left: 0;
    z-index: 35;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
    position: absolute;
    overflow: hidden;
    display: none;
    background: #36393f;
    padding: 12px 6px;
}

/*** Nav ***/
header nav {
    padding: 0 12px;
    display: flex;
}

header nav a {
    padding: 12px 0;
    margin-right: 16px;
    text-decoration: none;
    color: #979a9d;
    transition: .1s linear color;
    font-weight: 600;
}

header nav a:hover {
    color: #fff;
}

/*** Header Alerts ***/
.header__alerts {
    flex: 0;
    padding: 0.5rem;
    margin-right: 6px;
}

.header__alerts .toggle-notifications-button {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background-image: url('../_img/alerts.svg');
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.toggle-notifications-button:hover {
    animation: jiggle-effect .5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 1.0;
    background-color: #36383b;
}

@keyframes jiggle-effect {

0%,
100% {
  transform: rotate(0)
}

25% {
  transform: rotate(10deg)
}

50% {
  transform: rotate(-10deg)
}

75% {
  transform: rotate(10deg)
}
}



/*** Header User ***/
.header__user {
    flex: 0;
    padding: 0.5rem;
    margin-right: 6px;
}

.header__user a {
    height: 38px;
    width: 38px;
    background: rgba(255, 255, 255, .1);
    border-radius: 50%;
    display: block;
}

